/* global color presets */

:root {
  --primary-green: #45bf84;
  --secondary-lightgrey: #f3f3f3;
  --darkgrey: #747474;
  --white: #fff;
  --text: #191a23;
}

@font-face {
  font-family: 'Body';
  src: url('fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-size: 20px;
}

@font-face {
  font-family: 'Subheading';
  src: url('fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
  font-size: 30px;
}

@font-face {
  font-family: 'Title';
  src: url('fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-size: 40px;
}

* {
  font-family: 'Body', sans-serif;
  color: var(--text);
}
