@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap') all
:root {
  --primary-blue: #005696;
  --background-color: #ECECEC;
  --darker-grey: #AAAAAA;
  --light-grey: #D9D9D9;
  --lighter-grey: #ECECEC;
  --lighest-grey: #F5F5F5;
  --active-button-green: #C2E2C3;
  --active-button-text-green: #496E4B;
  --inactive-button-red: #EFC6C6;
  --inactive-button-text-red: #8E5858;
  --paricipant-button-yellow: #FFE0AB;
  --paricipant-button--text-yellow: #B16B0E;
  --care-partner-button-purple: #DDC7F1;
  --care-partner-button--text-purple: #643A89;
  --text: #000;
}

* {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  color: var(--text);
  background-color: var(--background-color);
}

body {
  margin: 100px;
}

.text-title {
  font-size: 40px;
  font-weight: 700;
}

.text-subheading {
  font-size: 30px;
  font-weight: 500;
}

.text-body {
  font-size: 20px;
  font-weight: 400;
}
